/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

.btn[disabled] {
  cursor: not-allowed;
  opacity: 0.3;
}

.ui-selectbutton .ui-button.ui-state-active {
    background-color: green !important;
    border-color: green !important;
  &:first-child {
    background-color: #f13333 !important;
    border-color: #f13333 !important;
  }
}
