<div>

  <div>
    <h2>Dengue Tracker</h2>
    <small class="text-muted">{{version}}</small>
  </div>

  <div class="row" *ngIf="!loggedIn">
    <div class="col">
      <div>
        <label>Organization Code:</label>
        <input name="orgKey" [(ngModel)]="org.key" [disabled]="loginAttemptOngoing" />
      </div>
      <button (click)="initiateLogin()" [disabled]="loginAttemptOngoing || org.key.length == 0">Login</button>
    </div>
  </div>

  <div class="row" *ngIf="loggedIn">
    <div class="col">
      <div>
        <label>Address:</label>
        <input #addressInput name="caseAddress" [(ngModel)]="caseEntry.address" [disabled]="caseSubmissionOngoing" />
      </div>
      <div>
        <p-selectButton [options]="resultOptions" [(ngModel)]="caseEntry.result" [disabled]="caseSubmissionOngoing"></p-selectButton>
      </div>
      <button (click)="submitCase()" [disabled]="caseSubmissionOngoing || caseEntry.address.length == 0 || caseEntry.result == 0">Submit</button>
      <p class="text-muted">
        Total cases submited during this session: {{totalCasesInSession}}
      </p>

      <div>
        <a href="#" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>

  <p class="text-danger" *ngIf="errorMsg.length > 0">
    {{errorMsg}}
  </p>

  <p-progressSpinner *ngIf="loginAttemptOngoing || caseSubmissionOngoing" [style]="{width: '50px', height: '50px'}" strokeWidth="4">
  </p-progressSpinner>

</div>